extends layout

block content
  include header
  h1= title
  p
    a(class="btn btn-primary mr-2" href="/room/1") 2人部屋(1)
    a(class="btn btn-primary mr-2" href="/room/2") 2人部屋(2)
    a(class="btn btn-primary mr-2" href="/room/3") 3人部屋
