extends layout
block content
    include header
    div
        h1 Poker
        span room:
        span(id="room")= room
    p(id="name")
    p
        span(id='num')
        span  players
    p
        span Community cards: 
        span(id='community')
    p
        span Hole cards:
        span(id='hand')
    p(id='hand_name')
    div(id="app")
        div(class="mb-2")
            button(class="btn btn-default mr-2" v-on:click="next()") Open Next Card
            button(class="btn btn-default mr-2" v-on:click="hand()") Make hands
            button(class="btn btn-default mr-2" v-on:click="newGame()") New Game
        div(class="form-group")
            input(class="form-control mb-2" type="text" v-model="text" placeholder="message")
            input(class="btn btn-primary mb-2" v-on:click="submit()" value="Submit")
        a(class="btn btn-default" enabled="{{isStartPage ? 'disabled': ''}}" href="#" v-on:click="showPrev") prev
        a(class="btn btn-default" enabled="{{isEndPage ? 'disabled': ''}}" href="#" v-on:click="showNext") next
        ul
            li(v-for="item in dispItems") {{ item }}
    script(src="/javascripts/dealer.js")
